/* Accordion block */

.accordion-group {
  .accordion-item {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid $ws-black;
    &.is-active {
      > .accordion-trigger {
        @include transition(none);
        &:after {
          background-image: url('../images/icons/chevron-up.svg');
        }
      }
      > .accordion-content {
        visibility: visible;
        overflow: visible;
        width: auto;
        height: auto;
        padding: 1rem 4rem 1rem 1rem;
        opacity: 1;

        @include transition(opacity, 250ms, ease);
      }
    }
  }

  .accordion-trigger {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 1rem 4rem 1rem 1rem;
    font-family: $font-primary;
    font-weight: 700;
    cursor: pointer;
    color: $ws-black;
    // background-color: $ws-black;

    @include transition(none);
    @include font-size(20px);
    &:after {
      content: '' !important;
      width: 28px;
      height: 19px;
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('../images/icons/chevron-down.svg');
    }
  }
  .accordion-content {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    border-top: 0;

    @include transition(opacity, 250ms, ease);
  }
}

@include bp(rev-small) {
  .accordion-sm-group {
    .accordion-item {
      position: relative;
      z-index: 2;
      border-bottom: 1px solid $ws-black;
      &.is-active {
        > .accordion-trigger {
          @include transition(none);
          &:after {
            content: '\e907';
          }
        }
        > .accordion-content {
          visibility: visible;
          overflow: visible;
          width: auto;
          height: auto;
          padding: 1rem 2rem 1rem 1rem;
          opacity: 1;

          @include transition(opacity, 250ms, ease);
        }
      }
    }
    .accordion-trigger {
      position: relative;
      display: block;
      margin-bottom: 0;
      padding: 1rem 4rem 1rem 1rem;
      font-family: $font-primary;
      font-weight: 700;
      cursor: pointer;
      color: $ws-black;
      // background-color: $ws-black;

      @include transition(none);
      @include font-size(20px);
      &:after {
        position: absolute;
        top: 50%;
        right: 25px;
        display: block;
        font-family: $project-name;
        line-height: 1;
        content: '\e906';
        color: $ws-black;

        @include font-size(22px);
        @include transform(translateY(-50%));
        @include bp(rev-xsmall) {
          right: 10px;
        }
      }
    }
    .accordion-content {
      visibility: hidden;
      overflow: hidden;
      width: 0;
      height: 0;
      opacity: 0;
      border-top: 0;

      @include transition(opacity, 250ms, ease);
    }
  }
}
